.resultList {
  padding-bottom: 30px;

  .title {
    margin-bottom: 0;
    margin-left: 20px;
    color: white;
  }
}
.error {
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}
